				section{
					width: 440px;
					margin: 3% auto;
				}
				div{
					width: 40px;
					height: 40px;
					float: left;
					border: 1px solid gray;
					background-color: silver;
					text-align: center;
					line-height: 40px;
					vertical-align: middle;
				}
				div:hover{
					cursor: pointer;
				}
				.bomb{
					background-image: url(../img/bomb40.png);
					font-size: 0;
					background-size: 40px 40px;
				}
				.redbomb{
					background-image: url(../img/BombRed40.png);
					font-size: 0;
				}
				.field{
					border-top: 3px solid white;
					border-left: 3px solid white;
					border-bottom: 3px solid gray;
					border-right: 3px solid gray;
					width: 36px;
					height: 36px;
					color: silver;
				}
				.field.bomb{
					background-image: none;
				}
				.field.flag{
					background-image: url(../img/flag40.png);
					font-size: 0px;
				}
				.bomb.flag{
					background-image: url(../img/flag40.png);
					font-size: 0px;
					background-size: 40px 40px;
				}